/* commenti in CSS */

/* Reset */

body,html {  
    font-family: 'Poppins', Arial, Helvetica,sans-serif;  
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;
}

/* 
*,*:before,*:after {  
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,ol,ul {  
    margin: 0 0 1rem 0;  padding: 0;}
ol,ul {  padding-left: 20px;  line-height: 1.5;}
img {  height: auto;}
h1 {  font-size: 4rem;} h2 {  font-size: 3rem;}h3 {  font-size: 2rem;}h4 {  font-size: 1rem;}h5 {  font-size: 0.8rem;}h6 {  font-size: 0.6rem;} 
*/

/* helper */ 

.bordo_rosso{
    border: 2px red dashed
}
.bordo_nero{
    border: 2px black dashed
}

.titolo_1{
    color:red;
}

/* mi riferisco all'elemento con TAG <a> */
a {  
    text-decoration: none ;
}

/* mi riferisco all'elemento con TAG <li> */

li {
    /* list-style-type: none; */
}

ol{
    list-style-type: none ;
}
#solo ol li{
    color: red
}
        
.titolo_1 { 
    /* Ricordate il TAG per i commenti in HTML vero !? Bene! in CSS è diverso :P !! */
    color: black ;
    /* background-color: yellow!important ; */
    background-color: black ;
    font-family: Georgia ;
    font-weight: bold ;
    font-size: 20px ;
}


/* Esempio di Responsive Style */
@media (max-width: 1280px) {

}

@media (max-width: 768px) {
   
  }